<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">This app utilizes Node.js, Express, MongoDB and cheerio.js to scrape for news
                        regarding renewable energy and produce it down below.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a target="_blank" href="https://github.com/EntOfMD/GreenEnergyFTW" class="text-white"><i
                                    class="fab fa-github"></i> See
                                the source on Github</a></li>
                        <li><a href="https://news.google.com/topics/CAAqIQgKIhtDQkFTRGdvSUwyMHZNRFptYUhNU0FtVnVLQUFQAQ"
                                class="text-white"><i class="fab fa-google"></i> News Source</a></li>
                        <li><a href="/letsgrabacoffee" class="text-white"><i class="fas fa-at"></i> Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/app" id="navBrand" class="navbar-brand">
                <i class="far fa-newspaper"> </i> RenewableEnergy ForTheWin
            </a>
            <div class="btn-group" role='group'>
                <a href="/api/notes" class=" ml-auto mr-2">
                    <button type="button" class="btn btn-outline-info rescrape"><i class="fas fa-comments"></i>
                        Comments</button>
                </a>
                <a href="/api/scrape" class=" ml-auto mr-2">
                    <button type="button" class="btn btn-outline-warning rescrape"><i class="fas fa-sync"></i>
                        Re-Scrape!</button>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</header>