<div class="card text-center" id="rescrapeCard">
    <div class="card-header">
        <span class="text-danger">Re-Scrape!</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">No content to show..</h5>
        <p class="card-text">But don't fret! Simply click the button below to re-scrape for news!</p>
        <i class="fas fa-arrow-right"></i> <a href="/api/scrape" class=" ml-auto mr-2">
            <button type="button" class="btn btn-outline-danger rescrape"><i class="fas fa-dragon"></i>
                Re-Scrape! <span id="badgeNum" class="badge badge-light">0</span></button>
        </a><i class="fas fa-arrow-left"></i>
    </div>
    <div class="card-footer text-muted">
        - Your Friendly Neighborhood Admin
    </div>
</div>